<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
    <%- include('head') %>
    <h1>
        ERROR!!!<br>
        Something went wrong.
        I don't think you should be here.
    </h1>
</body>
</html>