 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    
    <script src="https://use.fontawesome.com/2b80ffe233.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/landing4.css">
    
    
</head>
<body>
<footer>
        <div class="row">
            
            <div class="col-sm-0 col-md-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footI">
                    <a href="#"><i class="fa fa-facebook icon footICO" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter icon footICO" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram icon footICO" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus icon footICO" aria-hidden="true"></i></a>
            </div> 


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 contactFoot">
                 
                <div class="foot-contact-info">
                    <ul>
                        <li>1, XYZ Street, Bangalore,India</li>
                        <li>+91-1295884665</li>
                    </ul>            
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 contactFoot">
            
                    <div class="foot-contact-info">
                             <ul>
                                 <li>support@whatsfordinner.com</li>
                             </ul>            
                    </div>
                </div>
            <div class="col-sm-0 col-md-1"></div>    
        </div>
 </footer>

</body>
</html>