<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WFD?</title>
    <link rel="shortcut icon" href="/images/logo/Final_Log-1.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.css">
    <link rel="stylesheet" type="text/css" href="/css/landing1.css">
    <link rel="stylesheet" type="text/css" href="/css/landing2.css">
    <link rel="stylesheet" type="text/css" href="/css/landing3.css">
    <link rel="stylesheet" type="text/css" href="/css/landing4.css">
    <script src="https://use.fontawesome.com/2b80ffe233.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="landing.js"></script>

</head>

<body>
    <section id="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 header_div1">
                <div class="imageDiv">
                    <img src="/images/logo/Final_Logo.png" id="header_pic">
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 header_div2">
                <div class="header">
                    <div class="text-box">
                        <h1 class="heading-primary">
                            <span class="heading-primary-main">
                                <strong>ONE</strong>
                            </span>
                            <span class="heading-primary-sub1">
                                <strong>STOP</strong>
                            </span>
                            <span class="heading-primary-sub2">
                                DESTINATION </span>
                            <span class="heading-primary-sub3">
                                TO
                            </span>
                            <span class="heading-primary-sub4">
                                END
                            </span>
                            <span class="heading-primary-sub5">
                                all your food cravings
                            </span>

                        </h1>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 header_div4">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">

                            <div class="signup col-md-10"><a href="/register">Sign Up</a></div>

                            <div class="login col-md-10"><a href="/login">Log In</a></div>
                        </div>




                        <div id="runningText" class="col-xs-12 col-sm-12 col-md-12 col-lg-21">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <section class="speakers">
        <div class="container">
            <div class="box ">
                <div class="imgBx">
                    <img src="/images/dineIn1.png" class="speaker">
                </div>
                <div class="speakercontent">
                    <div>
                        <h2>
                            Dine-In
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rem molestias maiores, nihil
                            similique ullam earum praesentium tempora excepturi fugiat.</p>
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="imgBx">
                    <img src="/images/delivery2 (1).png" class="speaker">
                </div>
                <div class="speakercontent">
                    <div>
                        <h2>
                            Food Delivery
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rem molestias maiores, nihil
                            similique ullam earum praesentium tempora excepturi fugiat.</p>
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="imgBx">
                    <img src="/images/takeAway1.png" class="speaker">
                </div>
                <div class="speakercontent">
                    <div>
                        <h2>
                            Self Pick-Up
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rem molestias maiores, nihil
                            similique ullam earum praesentium tempora excepturi fugiat.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <br>
    <br>
    <main>
        <div class="div1">
            <img src="/pics/food0.jpg" id="gridImage8">
        </div>
        <div class="div2">
            <img src="/pics/food4.jpg" id="gridImage1">
        </div>
        <div class="div3">
            <img src="/images/img.JPG" id="gridImage3">
        </div>
        <div class="div4">
            <img src="/pics/AWTFOOD/food8.jpg" id="gridImage4">
        </div>
        <div class="div5">
            <img src="/pics/AWTFOOD/food4.jpg" id="gridImage2">
        </div>
        <div class="div6">
            <img src="/images/img4.jpg" id="gridImage6">
        </div>
        <div class="div7">
            <img src="/pics/AWTFOOD/food7.jpg" id="gridImage5">
        </div>
    </main>

    <br>
    <br>

    <footer>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contact">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p id="footerPara">Contact Us</p>
                    <div class="contact-info">
                        <ul>
                            <li>1, XYZ Street, Bangalore,India</li>
                            <li>+91-1295884665</li>
                            <li>support@whatsfordinner.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icons">
                    <a href="#"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram icon" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus icon" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18709.293547120124!2d77.59390734921918!3d12.941361895616676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15ee91acf39b%3A0xacfb4bb86c0b43da!2sIHFD%20Apartments%2C%20Vishweshwarapura%2C%20Shankarapura%2C%20Bengaluru%2C%20Karnataka%20560004!5e0!3m2!1sen!2sin!4v1574274616893!5m2!1sen!2sin"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>

    </footer>

</body>

</html>