<html>
  <body>
    <div class="success-page">
        <link rel="stylesheet" type="text/css" href="/css/two.css">
        <img  src="/images/pay.gif" class="center" alt="" />
       <h2>Payment Successful !</h2>
       <p>We are delighted to inform you that we received your payments</p>
       <a href="#" class="btn-view-orders">View Orders</a>
       <p>Continue Ordering More Delicious Food</p>
     </div>
     </div>
      </body>
</html>
